/*----------
    Reset 
 ----------*/

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
 }

 /*----------
    Header 
 ----------*/

 .row{
    display: flex;
 }

 .conteiner-header .row{
    background-color: black;
    height: 40px;
    align-items: center;
    justify-content: end;
 }

 .conteiner-logo ul {
   color: white;
   list-style-type: none;
   
   
 }

 li{
    background-color: #4a4a4a;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 10px;

 }

 .fa-bars{
    padding-right: 5px;
 }

 .fa-bars, .fa-maximize{
    font-size: 13px;
 }

/*----------
    Main 
 ----------*/

.conteiner-main{

    background-color: lightcoral;
    height: calc(100vh - 120px);
    overflow: auto;
    flex-wrap: wrap;
}

.miniatura{
    width: calc(100% / 7);
    background-color: black;
    height: 200px;
    border: 2px solid white;
    margin: 40px 80px 40px 80px;
    
}
 





/*----------
    Footer 
 ----------*/

 .conteiner-footer{
    background-color: gray;
    height: 80px;
 }

