/*----------
    Reset 
 ----------*/

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
 }

 /*----------
    Header 
 ----------*/

 .row{
    display: flex;
 }

 .conteiner-header .row{
    background-color: black;
    height: 40px;
    align-items: center;
    justify-content: end;
 }

 .conteiner-logo ul {
   color: white;
   list-style-type: none;
   
   
 }

 li{
    background-color: #4a4a4a;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 10px;

 }

 .fa-bars{
    padding-right: 5px;
 }

 .fa-bars, .fa-maximize{
    font-size: 13px;
 }

/*----------
    Main 
 ----------*/

.conteiner-main{

    background-color: black;
    height: calc(100vh - 120px);
    overflow: auto;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    gap: 20px 10px;
    
    
}


.box{
    width: calc(100% /7 - 20px);
    position: relative;
    
}

.miniatura{
    height: 100%;
    width: 100%;

}

.user{
    position: absolute;
    bottom: 0vh;
    left: 0;
    color: white;
    text-align: left;

}

.opaco{
    position: absolute;
    bottom: 0vh;
    left: 0;
    height: 25px;
    width: 150px;
    background-color: #556371;
    padding-top: 5px;
    opacity: 0.5;
}
/*----------
    Footer 
 ----------*/

 .conteiner-footer{
    background-color: gray;
    height: 80px;
 }

